<h1>Random Number Generator</h1>

<form action="/random/results">
<label for="min_input">Minimum</label>
<input id="min_input" type="text" name="min_number" placeholder="Enter a number, e.g. 1.5">

<label for="max_input">Maximum</label>
<input id="max_input" type="text" name="max_number" placeholder="Enter a number, e.g. 4.5">
<button type="submit">Pick random number</button>
</form>
