<h1>Random Number Generator</h1>

<form action="/random/new">
<label for="min_input">Minimum</label>
<input id="min_input" type="text" name="number_min" placeholder="Enter a number, e.g. 1.5">

<label for="max_input">Maximum</label>
<input id="max_input" type="text" name"number_max" placeholder="Enter a number, e.g. 4.5">
<button type="submit">Pick random number</button>
</form>
