<h1>Square Root Calculator</h1>

<form action="/square_root/results">
<label for ="num_input">Enter a Number</label>
<input id="num_input" type="text" name="number" placeholder="What number do you want to take the square root of?">
<button type="submit">Calculate square root</button>
</form>
